* {
  font-family: 'AmiriQuran';
}

.logo {
  width: 30%;
  margin-top: 15%;
  margin-left: 32%;

}
ion-searchbar {
  margin-top: 6%;
}
ion-icon {
  font-size: 30px;
  color: dimgrey;
  margin: 3%;
}
ion-title{
//background: #c5d4c8;
  color: black;
  font-size: 21px;
  margin-top: 50px;
  text-align: center;
}
.calorias{
  color: black;
  font-size: 21px bold;
  margin-top: 50px;
  text-align: center;

}
ion-icon.profile {
  height: 100px;
  width: 120px;
  margin-top:30px;
  margin-right:25%;
  color:black;
}

ion-list {
  margin-top: 80px;
}

ion-label.editaru {
  font-size: 25px;
  margin-top: 25%;
  margin-left: 25%;
}

ion-button.editar {
  margin-left: 20%;
  margin-top: 2%;
  color: white;
  --background: #A93226;
}

ion-button.eliminar {
  margin-left: 17%;
  margin-top: 2%;
  color: white;
  --background: #A93226;
}

ion-button.cancelar {
  margin-left: 30%;
  margin-top: 2%;
  color: white;
  --background: #A93226;
}

ion-button.guardar {
  margin-left: 17%;
  margin-top: 2%;
  color: white;
  --background: #A93226;
}
