<ion-header >
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput"><ion-icon name="home-outline" (click)="home()"></ion-icon></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="contenedor">
    <!--CARD DE DATOS PERSONALES-->
    <ion-card>
      <h1 class="perfil">Mi Perfil</h1>
      <!--Logo-->
      <img class="logo" src="../../assets/logo.png" alt="AppFitness">
      <!--DATOS PERSONALES-->
      <ion-item >
        <ion-icon name="person-outline"></ion-icon><p>Nombre: {{usuariosesion.usrDB.name}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon><p>Email: {{usuariosesion.usrDB.email}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="key-outline"></ion-icon> <p>Password: ********** </p>
      </ion-item>
      <ion-item>
        <ion-icon name="fast-food-outline"></ion-icon><p>Calorias Totales: {{usuariosesion.usrDB.caloriastotales}}</p>       
      </ion-item>
    </ion-card>
    <!--Manejar la versión vertical y horizontal-->
    <ion-fab class="boton" vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="light" (click)="addNewImageGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <!--Aqui mostramos lo de las imagenes-->
      <h1 class="galeria">Mi Galeria Nutritec</h1>
    <ion-grid>
      <ion-row class="fotos">
        <ion-col size="6" *ngFor="let foto of fotoService.fotos; index as position">
          <ion-img [src]="foto.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
    

  </div>
</ion-content>