<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput"><ion-icon name="home-outline" (click)="home()"></ion-icon></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Cenas</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <img class="image" src="./assets/Fondo4.jpg">
  <ion-card class="cards">
    <div class="diets" *ngFor="let dietas of adminService.dietas;">
      <ion-item *ngIf="adminService.dietas.length>=1">
        <ion-card class="card1" (click)="Alert()">
          <p class="nombre">{{dietas.name}}</p>

          <p class="description">{{dietas.description}}</p>
        </ion-card>
      </ion-item>
      <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      -->
    </div>
  </ion-card>
</ion-content>
