ion-content.background{
    --background: linear-gradient(90deg, rgb(250, 182, 86) 0%, rgb(255, 208, 146) 50%, rgb(250, 182, 86) 100%,rgb(255, 208, 146) 50%, rgb(250, 182, 86) 100%);   
}
.new-background{
    --background:orange;
}
ion-toolbar {
    width: 100%;
}
ion-searchbar{
    width: 100%;
}
.atras{
    --background:none;
}
ion-label{
    font-size: 20px;
    color:black;
    position: absolute;
    left: 35%;
}
.card {
    position: static;
    left:85%;
    --background:none;
    font-size: 20px;  
    color: black;
   
}
ion-slide{
    width: 100%;
    height: 80%;
}
//Cards
.cards{
    position:static;
}
ion-card {
    width: 40%;
    height: 30%;
}
.card1{
    position: absolute;
    top: 25%;
    right: 2%;
}
.card1 img{
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
    height:98%;
}
.card2{
    position: absolute;
    top: 25%;
    right: 48%;
}
.card2 img{
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
    height:98%;
}
.card3{
    position: absolute;
    top: 55%;
    right: 48%;
}
.card3 img{
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
    height:98%;
}
.card4{
    position: absolute;
    top: 55%;
    right: 2%;
}
.card4 img{
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
    height:98%;
}
//FindeCards
/* DOES NOT WORK - not specific enough */
.modal-wrapper {
    background: #222;
  }
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .modal-wrapper {
    background: #222;
  }
  .my-custom-class {
    --background: #222;
  }
  ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    
  
  --placeholder-color: #971e49;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }
