<ion-content>
  <div>
    <ion-card class="card1">
      <ion-card-header>
        <ion-card-title>Bienvenido de nuevo</ion-card-title>
        <ion-card-subtitle>Nombre del cliente</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-icon name="person-circle"></ion-icon>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-item>
    </ion-card>
  </div>
  <div>
    <h2 class="caloriasR">Calorías Restantes:</h2>
    <h2 class="caloriasR1">Calorías Consumidas:</h2>
  </div>
  <div>
    <ion-button small color="light">
      <p>Desayuno</p>
      <ion-icon class="botons" name="add-circle"></ion-icon>
    </ion-button>
  </div>
</ion-content>
