<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<ion-content>

  <div class="inicio">
    <ion-card>
      <div class="dietas">
        <ion-card-header>
          <ion-card-title>Bienvenido a Nutritec</ion-card-title>
          <img class="contact" src="../../assets/contact.png" alt="AppFitness">
          <ion-card-subtitle> Aqui tienes tu resumen diario.</ion-card-subtitle>
        </ion-card-header>
      </div>
      
      <ion-list>
        <!--Calorias-->
        <ion-item>
          <ion-text color="tertiary">
            <h3 class="calorias">Calorias Consumidas:</h3>
          </ion-text>
          <p class="conteo"> @Conteo</p>
        </ion-item>
        <!--Calorias-->
        <!--Dietas-->
        <div class="diets">
          <ion-button class="buttona" expand="block" fill="outline" (click)="tab1ad()">
            Desayuno
            <ion-icon class="button1" slot="end" name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button class="buttona" expand="block" fill="outline" (click)="tab2()">
            Comida
            <ion-icon class="button2" slot="end" name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button class="buttona" expand="block" fill="outline" (click)="tab2ad()">
            Cena
            <ion-icon class="button3" slot="end" name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button class="buttona" expand="block" fill="outline" (click)="tab3()">
            Colaciones/Otros
            <ion-icon class="button4" slot="end" name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-item>
          <ion-text color="medium">
            <h3>Videos de hoy</h3>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-button (click)="invokeVideoPlayer()">Start Video Player</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
