ion-content{
  font-family: 'Amiri Quran', serif;
  color: black;

}
ion-card-title {
  margin-top: 1%;
  margin-left: 3%;
}
.contact {
  width: 20%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 15%;
}
ion-card-subtitle {
  margin-top:5%;
  margin-left: 15%;
}
.calorias{
  font-size:15px;
}
.conteo {
  font-size: 15px;
}
.dietas {
  --background: url('/assets/nutritec.png')no-repeat 100% 100%;
  //background: rgb(231,238,242);
  //background: radial-gradient(circle, rgba(231,238,242,1) 0%, rgba(102,213,210,0.5679583333333333) 88%, rgba(245,246,249,1) 100%);
}
.diets{
    margin-top:1%;
}
.buttona {
  width: 90%;
  margin-left:5%;
  color:black;
}
.button1 {
  margin-left: 68%;
}
.button2 {
  margin-left: 74%;
}
.button3 {
  margin-left: 80%;
}
.button4 {
  margin-left: 50%;
}

