<ion-header [translucent]="true" class="background">
  <ion-toolbar>
    <ion-title>
      <center><ion-icon name="person-outline"></ion-icon>Administrador</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div>
    <center><ion-title><img src="../../assets/logo.png" style="width: 40px;"> TexApp</ion-title></center>
  </div>
  <ion-card>
  <ion-item >
    <ion-icon name="analytics-outline"></ion-icon>
    <ion-label>VENTAS</ion-label>
  </ion-item>
  <ion-list> 
    <ion-item >
    <li>
      <p>Articulo:</p><br>
      <p>Ventas:</p><br>
    </li>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card>
  <ion-item >
    <ion-icon name="book-outline"></ion-icon>
    <ion-label>CATALOGO RAPIDO</ion-label>
  </ion-item>
  <ion-list> 
    <ion-item>
      <li>
      <p>Articulo</p><br>
      <p>Marca</p><br>
      <p>Precio</p><br>
      <p>Imagen</p><br>
    </li>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="cash-outline"></ion-icon>
    <ion-label>Ingreso Total</ion-label>
    <ion-item>
      <p>$$$</p><br>
    </ion-item>
  </ion-item>
</ion-card>

</ion-content>
